.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Derived data
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM local packages cache
Packages/

# Logs
*.log

# Editors
.vscode/
.idea/

# Swap files
*.swp
*.swo
# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Python cache files
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
video/